/* @components/navbar/Navbar.js */
#navbar {
  width: 100%;
  background-color: rgb(26, 26, 26);
  box-shadow: 3px 2px 2px 1px grey;
}

@media only screen and (min-width: 768px) {
  #navbar {
    display: flex;
    height: 5rem;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
  }
}

#brand {
  font-size: 1rem;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  color: white;
}

@media only screen and (min-width: 768px) {
  #brand {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  #brand {
    font-size: 1.25rem !important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

#nav_item_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #nav_item_container {
    position: absolute;
    width: 25%;
    right: 0;
    font-size: 1.25rem !important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 8px;
  }
}

.nav_items {
  margin: 0 1rem;
}

.nav_items,
.nav_items:visited {
  color: white;
}

/* @components/navbar/AccountIcon.js */
#menu {
  display: none;
  position: absolute;
  width: 6.5rem;
  right: 0;
  z-index: 100;
  transform: translate(0, -5px);
}

#account_nav_item:hover > #menu {
  display: block;
}

@media only screen and (min-width: 768px) {
  #menu {
    width: 8rem;
    /* transform: translate(0, 5px); */
  }
}

#menu:hover {
  display: block;
}

/* @components/navbar/CartIcon.js */
#cart_navigation_quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 221, 217);
  color: black;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  font-size: 12px;
  line-height: 12px;
  transform: translate(16px);
}

@media only screen and (min-width: 768px) {
  #cart_navigation_quantity {
    transform: translate(16px, -5px);
  }
}

.fa-shopping-cart {
  font-size: 1.25rem;
  transform: translate(0, -6px);
}

@media only screen and (min-width: 768px) {
  .fa-shopping-cart {
    position: absolute;
    bottom: 0.2rem;
  }
}

/* @components/navbar/Menus.js */
#navbar_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  z-index: 100;
}

.navbar_menu_text {
  color: white;
}

/* @components/auth/Login.js */
#log_in {
  margin-top: 8rem;
}

/* @components/auth/Login.js */
/* @components/input/Positions.js */
@media only screen and (min-width: 350px) {
  .input_field {
    width: 75% !important;
  }
  .form_container {
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .input_field {
    width: 50% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .input_field {
    width: 25% !important;
  }
}

.input-group {
  margin-bottom: 1rem;
}

.auth_fa-user {
  position: relative !important;
}

/* @components/portfolio/Position.js */
#position {
  display: flex;
  margin: 1rem;
  border-style: solid;
  border-color: black;
}

#position > div {
  margin: 1rem;
}
